#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: blue;
}

.navbar-item {
    display: inline;
}

.navbar-link {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    border-right: 1px solid black;
}

li a:hover {
    color: black;
}

li:last-child {
    border-right: none;
}

p {
    font-size: 24px;
    text-align: center;
}

body {
    background-color: #61b0b7;
}

h1 {
    text-align: center;
}